@model IEnumerable<MVCMyCurrency.Models.MVCAlert>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="AddOrEdit" asp>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestValue)
            </td>
            <td>
                @Html.ActionLink("Edit", "AddOrEdit", new { id = item.AlertId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlertId })
            </td>
        </tr>
}
    </tbody>
</table>
